.cardimg {
    position: relative;
    height: 200px;
    width: 200px;
    border: ridge;
}

#screen {
    background: '#F9E557';
    height: '100vh';
}

.card {
    border: ridge;
    padding: 10px;
    background: #65EFCF;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;

}

.cardGroup {
    /* padding: 50px; */
    margin: 10px;
    display: flex;
}

.dis {
    pointer-events: none;
    opacity: 0.4
}